﻿/*margins*/
.margin-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-h-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-v-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-h-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-v-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-h-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-left {
    margin-left: 0px;
}

.no-margin-right {
    margin-right: 0px;
}

@media (max-width: 991px) {
    .margin-v-5-sm {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .margin-v-10-sm {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-v-15-sm {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .no-margin-sm {
        margin: 0px;
    }

    .no-margin-bottom-sm {
        margin-bottom: 0px;
    }

    .no-margin-top-sm {
        margin-top: 0px;
    }

    .no-margin-left-sm {
        margin-left: 0px;
    }
}

@media (min-width: 992px) {
    .margin-v-5-md {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .margin-v-10-md {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .margin-v-15-md {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .margin-v-30-md {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .margin-h-15-md {
        margin-left: 15px;
        margin-right: 15px;
    }

    .no-margin-md {
        margin: 0px;
    }

    .no-margin-bottom-md {
        margin-bottom: 0px;
    }

    .no-margin-top-md {
        margin-top: 0px;
    }

    .no-margin-right-md {
        margin-right: 0px;
    }
}

@media (min-width: 1200px) {
    .margin-h-30-lg {
        margin-left: 30px;
        margin-right: 30px;
    }

    .no-margin-lg {
        margin: 0px;
    }

    .no-margin-top-lg {
        margin-top: 0px;
    }

    .no-margin-bottom-lg {
        margin-bottom: 0px;
    }

    .no-margin-left-lg {
        margin-left: 0px;
    }

    .no-margin-right-lg {
        margin-right: 0px;
    }
}
/*margins end*/

/*paddings*/
.padding-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-h-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-v-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-h-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

/*media query for above styles*/
@media(max-width: 991px) {
    .padding-top-0-sm {
        padding-top: 0;
    }

    .padding-top-5-sm {
        padding-top: 5px;
    }

    .padding-top-15-sm {
        padding-top: 15px;
    }

    .padding-top-30-sm {
        padding-top: 30px;
    }

    .padding-bottom-0-sm {
        padding-bottom: 0;
    }

    .padding-bottom-15-sm {
        padding-bottom: 15px;
    }

    .padding-bottom-30-sm {
        padding-bottom: 30px;
    }

    .padding-v-5-sm {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .padding-h-5-sm {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-v-10-sm {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padding-h-10-sm {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-v-15-sm {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .padding-h-15-sm {
        padding-left: 15px;
        padding-right: 15px;
    }

    .padding-v-30-sm {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padding-h-30-sm {
        padding-left: 30px;
        padding-right: 30px;
    }

    .no-padding-sm {
        padding: 0;
    }

    .no-padding-top-sm {
        padding-top: 0px;
    }

    .no-padding-bottom-sm {
        padding-bottom: 0px;
    }

    .no-padding-left-sm {
        padding-left: 0px;
    }

    .no-padding-right-sm {
        padding-right: 0px;
    }
}

@media(max-width: 767px) {
    .no-padding-top-xs {
        padding-top: 0;
    }

    .no-padding-bottom-xs {
        padding-bottom: 0;
    }

    .no-padding-right-xs {
        padding-right: 0;
    }
}


@media(min-width: 992px) {
    .padding-v-5-md {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .padding-h-5-md {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-v-10-md {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padding-h-10-md {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-v-15-md {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .padding-h-15-md {
        padding-left: 15px;
        padding-right: 15px;
    }

    .padding-v-30-md {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padding-h-30-md {
        padding-left: 30px;
        padding-right: 30px;
    }

    .no-padding-md {
        padding: 0;
    }

    .no-padding-top-md {
        padding-top: 0px;
    }

    .no-padding-bottom-md {
        padding-bottom: 0px;
    }

    .no-padding-left-md {
        padding-left: 0px;
    }

    .no-padding-right-md {
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    .no-padding-top-lg {
        padding-top: 0px;
    }

    .no-padding-bottom-lg {
        padding-bottom: 0px;
    }
}