@font-face {
    font-family: "ExpertSans-Light";
    src: url("fonts/ExpertSans-Light.eot");
    src: local("?"), url("fonts/ExpertSans-Light.woff") format("woff"),
        url("fonts/ExpertSans-Light.ttf") format("truetype"),
        url("fonts/ExpertSans-Light.svg#ExpertSans-Light") format("svg");
}

body {
    font-family: "ExpertSans-Light",Verdana,Geneva,sans-serif !important;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.input-box{
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    height: 45px;
}

.hide{
    visibility: hidden;
}

.unhide{
    visibility: visible;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #919191 !important;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #919191 !important;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #919191 !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #919191 !important;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.heading-group,
.heading-group,
.heading-group,
.heading-group,
.heading-group,
.heading-group {
    font-family: "ExpertSans-Light",Verdana,Geneva,sans-serif !important;
    color: #00395c;
}
.heading-group a {
    color: inherit;
}

h1, .h1 {
    font-size: 41px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    height: 300px;
    background: LightSlateGrey;
    margin-bottom: 1em;
    background-image: url(backgrounds/background@1x.jpg);
    background-position: center center;
    background-size: cover;
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .header {
        background-image: url(backgrounds/background@2x.jpg);
    }
}
@media
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 288dpi) {
    .header {
        background-image: url(backgrounds/background@3x.jpg);
    }
}
.header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px white solid;
    height: 60px;
}
.header__back {
    padding: 1em;
    cursor: pointer;
}
.header__back-icon {
    vertical-align: middle;
    width: auto;
    height: 14px;
    margin-right: 0.5em;
    position: relative;
    top: -1px;
}
.header__logo {
    padding: 1em;
}
.header__logo-img {
    width: auto;
    height: 20px;
}
.header__heading--container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__heading {
    width: 100%;
    max-width: 540px;
    font-size: 20px;
    margin-left: 2em;
    margin-right: 2em;
}
.header__heading-icon {
    display: block;
    width: auto;
    height: 30px;
}
@media (min-width: 768px) {
    .header__heading {
        font-size: 41px;
        margin-left: 0;
        margin-right: 0;
    }
    .header__heading-icon {
        height: 50px;
    }
}

ol.steps, ol.steps-short {
    display: block;
    border-top: solid 2px #afafb0;
    position: relative;
    margin: 40px 30px;
    counter-reset: step-num;
}

ol.steps li, ol.steps-short li {
    display: inline-block;
    position: absolute;
    top: 0;
    padding-top: 30px;
    font-size: 0 !important;
    text-align: center;
    transform: translateX(-50%);
    color: white;
}

ol.steps li:nth-child(1) {left: 0;}
ol.steps li:nth-child(2) {left: 16.666666667%;}
ol.steps li:nth-child(3) {left: 33.333333333%;}
ol.steps li:nth-child(4) {left: 50%;}
ol.steps li:nth-child(5) {left: 66.666666667%;}
ol.steps li:nth-child(6) {left: 83.333333333%;}
ol.steps li:nth-child(7) {left: 100%;}

ol.steps li span, ol.steps-short span {
    display: block;
    font-size: 0 !important;
}

ol.steps li:before, ol.steps-short li:before {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top:-16px;
    left: 50%;
    margin-left: -15px;
    counter-increment: step-num;
    content: counter(step-num);
    font-weight: bold;
    background-color: #ccc;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
}

ol.steps li.active:before, ol.steps-short li.active:before {
    background-color: #0e395a;
}
@media (min-width: 768px) {
    ol.steps, ol.steps-short {
        margin-bottom: 80px;
    }
    ol.steps li, ol.steps-short li {
        font-size: 10px !important;
        color: #999;
    }
    ol.steps li span, ol.steps-short span {
        font-size: 14px !important;
    }
    ol.steps li.active, ol.steps-short li.active {
        color: #0e395a;
    }
    ol.steps li.active span, ol.steps-short li.active span {
        color: #00aeef;
    }
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #ccc;
    box-sizing: content-box;
    height: 0;
}

.well {
    margin-top: 1em;
    color: #0074A6;
}
.well h1 {
    color: #0074A6;
    margin: 0.25em 0;
}

.accordion-container {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}
.accordion-head {
    display: block;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 13px;
    margin: 0;
    color: #939191;
    border-top: 2px solid #000;
    cursor: pointer;
    position: relative;
}
.accordion-head a {
    text-decoration: none;
}
.accordion-slide:first-child {
    border-top: 1px solid #ccc;
}
.accordion-slide:first-child .accordion-head {
    border-top: 0;
}
.accordion-title {
    padding: 13px;
    margin: 0;
}
.accordion-content {
    margin: 0 auto;
    padding: 1em 0;
}
.accordion-content-wrapper {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    transition: max-height 300ms;
}
.accordion-slide:not(.is-active) .accordion-content-wrapper {
    max-height: 0 !important;
}
.accordion-slide .accordion-head:hover {
    background-color: white;
}
.accordion-slide.is-active > .accordion-head:hover {
    background-color: #e1e1e1;
}
.accordion-slide.is-active > .accordion-head {
    color: #000;
}
.accordion-content-wrapper {
    visibility: hidden;
    height: auto;
    position: relative;
    top: -999999px;
    left: -999999px;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    max-height: 0;
}
.accordion-slide.is-active > .accordion-content-wrapper {
    visibility: visible;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
}
.accordion-slide.is-active:last-child > .accordion-content-wrapper {
    border-bottom: none;
}
.accordion-head-chevron {
    display: inline-block;
    position: relative;
    display: inline-block;
    position: relative;
    top: 11px;
    float: right;
}
@media only screen and (max-width: 480px) {
    .accordion-head-chevron {
        top: -18px;
    }
}
.accordion-slide.is-active > .accordion-head {
    cursor: default;
}

.accordion-slide {
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}
@media only screen and (max-width: 480px) {
    .accordion-slide {
        background-color: #fff;
    }
}
.accordion-slide:hover {
    background-color: #fff;
}
.accordion-slide.is-active {
    background-color: #fff;
}
.accordion-slide.is-active:hover {
    background-color: #fff;
}
.accordion-slide.is-active > .accordion-head {
    color: #00aeef;
    background-color: transparent;
}
@media only screen and (max-width: 480px) {
    .accordion-slide.is-active > .accordion-head {
        color: #0074a6;
    }
} .accordion-slide.is-active > .accordion-head:hover {
    color: #00aeef;
    cursor: pointer;
}
.accordion-slide:first-child .accordion-head {
    border-top: 0;
}
.accordion-slide .accordion-head {
    font-size: 28px;
    padding: 16.8px 49px;
    transition: color 500ms;
    background: transparent;
    color: #0E395A;
    margin: 0 auto;
    text-align: center;
    border: 0;
    line-height: 1;
    font-weight: 100;
}
@media only screen and (max-width: 480px) {
    .accordion-slide .accordion-head {
        font-size: 21px;
        padding: 21px 58.8px 21px 30.1px;
        text-align: left;
    }
}
.accordion-slide .accordion-head:hover {
    color: #00aeef;
}
.accordion-slide .accordion-head a {
    color: inherit;
}
@media only screen and (max-width: 480px) {
    .accordion-slide .accordion-head a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
        display: block;
        line-height: 1.2;
    }
}
.accordion-slide .accordion-content-wrapper {
    border-top: 1px solid #cccccc;
    background: #fff;
}
.bb .accordion-slide .accordion-content-wrapper {
    height: auto !important;
    top: auto;
    left: auto;
    visibility: visible;
}

.button[class] {
    display: block;
    font-weight: 100;
    font-size: inherit;
    background-color: #00aeef;
    color: #fff;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
    border-color: #00aeef;
    border-width: 1px;
    border-style: solid;
    margin: 10px 0;
    line-height: 1;
    /*vertical-align: middle;*/
    outline: none;
    text-align: center;
    text-decoration: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 10em !important;
}
.button[class]:hover {
    background-color: #0abcff;
    color: #fff;
}
.button--white[class] {
    background: #FFF;
    color: #0074a6;
    border: 1px solid #0074a6;
}
.button--white[class]:hover {
    background: #0074a6;
    color: #FFF;
}

input[type="file"] {
    opacity: 0;
    display: inline-block;
    width: 0 !important;
    height: 0 !important;
    margin: 0;
    padding: 0;
    border: 0;
    display: none !important;
}

#footer {
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
#footer p {
    margin-top: 20px;
}

.form input, textarea {
    box-shadow: none !important;
}
.form-group {
    display: block;
    height: auto;
}

.form {
    /* TWITTER BOOTSTRAP FORM STYLE
    ------------------------------------*/
    /* STATES STYLES
        ------------------------------------*/
    /* ARROW BUTTON STYLES
       -----------------------------------*/
}
  .form .form-heading {
    display: block;
    color: #323131;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px; }
  .form form {
    margin: 0 0 20px; }
  .form fieldset {
    margin: 15px 0;
    min-width: 0;
    background: transparent;
    border: none;}
  .form legend {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    padding: 0 5px; }
  .form fieldset legend {
    display: table;
    white-space: normal;
    margin-right: 10px; }
  .form input,
  .form select,
  .form textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    max-width: 100%; }
  .form button[type="submit"] {
    line-height: 23.8px; }
    .form button[type="submit"].inactive {
      cursor: default;
      background-color: #eeeeee;
      outline: none; }
  .form textarea {
    box-sizing: border-box;
    width: 300px;
    min-width: 200px; }
  .form button {
    font-weight: 100; }
    @media only screen and (max-width: 992px) {
      .form button {
        padding: 14px 0px;
        display: block; } }
  .form label {
    display: block;
    margin-bottom: 5px; }
  .form select,
  .form textarea,
  .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"],
  .form .uneditable-input {
    font-size: 16.8px;
    height: 45px;
    margin-top: 4.9px;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    color: #00395c;
    vertical-align: middle;
    width: 100%;
  }
    @media only screen and (max-width: 992px) {
      .form select,
      .form textarea,
      .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"],
      .form .uneditable-input {
        font-size: 14px; } }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .form select,
      .form textarea,
      .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"],
      .form .uneditable-input {
        font-size: 16px; } }
  .form input,
  .form textarea,
  .form .uneditable-input {
    width: 100%; }
  .form fieldset textarea {
    resize: vertical;
    width: 100%; }
  .form textarea {
    height: auto; }
    @media only screen and (max-width: 480px) {
      .form textarea {
        height: 65px; } }
  .form select,
  .form textarea,
  .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="month"], .form input[type="time"], .form input[type="week"],
  .form .uneditable-input {
    border: 0; }
  .form select:focus,
  .form textarea:focus,
  .form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="password"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form input[type="text"]:focus, .form input[type="url"]:focus, .form input[type="color"]:focus, .form input[type="date"]:focus, .form input[type="datetime"]:focus, .form input[type="datetime-local"]:focus, .form input[type="month"]:focus, .form input[type="time"]:focus, .form input[type="week"]:focus,
  .form .uneditable-input:focus {
    outline: 0; }
  .form input + .help-block,
  .form select + .help-block,
  .form textarea + .help-block,
  .form .uneditable-input + .help-block {
    margin-top: 10px; }
  .form input,
  .form textarea,
  .form select,
  .form .help-inline,
  .form .uneditable-input {
    display: inline-block;
    *display: inline;
    /*margin-bottom: 0*/
    vertical-align: middle;
    *zoom: 1; }
  .form input[type="file"],
  .form input[type="image"],
  .form input[type="submit"],
  .form input[type="reset"],
  .form input[type="button"],
  .form input[type="radio"],
  .form input[type="checkbox"] {
    width: auto; }
  .form select,
  .form input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */
    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
    line-height: 30px; }
  .form select {
    background: none;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .form select::-ms-expand {
      display: none !important; }
    .form select::-ms-value {
      background: none !important; }
  .form select::-ms-expand {
    display: none; }
  .form .selectField,
  .form {
    position: relative;
    z-index: 8; }
    .form .selectField .component-content,
    .form .component-content {
      position: relative;
      z-index: 9; }
    .form .selectField .controls,
    .form .controls {
      position: relative;
      color: #00aeef;
      z-index: 10; }
      .mod-no-textshadow .form .selectField .controls, .mod-no-textshadow
      .form .controls {
        width: 110%;
        max-width: none; }
      .form .selectField .controls select,
      .form .controls select {
        position: relative;
        z-index: 11;
        margin-bottom: 16px;
        margin-top: 5px;
        padding-left: 5px;
        line-height: 20px; }
        .form .selectField .controls select::-ms-value,
        .form .controls select::-ms-value {
          color: #00395c; }
        @media only screen and (max-width: 992px) {
          .form .selectField .controls select,
          .form .controls select {
            white-space: normal;
            height: auto;
            padding-right: 20px; } }
        .form .selectField .controls select option,
        .form .controls select option {
          line-height: 20px; }
    .form .selectField:after,
    .form:after {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      position: relative;
      font-weight: normal;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 28px;
      color: inherit;
      float: none;
      position: absolute;
      bottom: auto;
      top: 45%;
      right: 0;
      line-height: 30px;
      z-index: 8;
      pointer-events: none;
      box-shadow: -7px -14px 12px 0 #fff, 7px 14px 12px 0 #fff;
      background-color: #fff;
      pointer-events: none; }
      @media only screen and (max-width: 480px) {
        .form .selectField:after,
        .form:after {
          font-size: 21px; } }
  .form .controls select {
    margin-top: 8.4px;
    margin-bottom: 2.8px;
    line-height: 1.4em; }
    @media only screen and (max-width: 480px) {
      .form .controls select {
        margin-top: 11.2px;
        margin-bottom: 0px; } }
  .form select[multiple],
  .form select[size] {
    height: auto; }
  .form .uneditable-input,
  .form .uneditable-textarea {
    color: #999999;
    cursor: not-allowed;
    background-color: #fcfcfc;
    border-color: #CCCCCC;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.025); }
  .form .uneditable-input {
    overflow: hidden;
    white-space: nowrap; }
  .form .uneditable-textarea {
    width: auto;
    height: auto; }
  .form input:-moz-placeholder,
  .form textarea:-moz-placeholder,
  .form input:-ms-input-placeholder,
  .form textarea:-ms-input-placeholder,
  .form input::-webkit-input-placeholder,
  .form textarea::-webkit-input-placeholder {
    color: #999999; }
  .form .form-actions {
    padding-left: 180px; }
  .form .hide {
    display: none; }
  .form .controls {
    clear: both; }
  .form .controls > .radio:first-child,
  .form .controls > .checkbox:first-child {
    padding-top: 5px; }
  .form .radio.inline,
  .form .checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle; }
  .form .radio.inline + .radio.inline,
  .form .checkbox.inline + .checkbox.inline {
    margin-left: 10px; }
  .form input,
  .form textarea,
  .form .uneditable-input {
    margin-left: 0; }
  .form .controls-row {
    *zoom: 1; }
    .form .controls-row:before, .form .controls-row:after {
      display: table;
      line-height: 0;
      content: ''; }
    .form .controls-row:after {
      clear: both; }
  .form input[disabled],
  .form select[disabled],
  .form textarea[disabled],
  .form input[readonly],
  .form select[readonly],
  .form textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee; }
  .form .control-label {
    padding-top: 3.5px;
    padding-left: 5.6px;
    word-break: break-all;
    float: left;
    line-height: normal; }
    @media only screen and (max-width: 480px) {
      .form .control-label {
        padding-left: 0; } }
  .form .control-group.warning input, .form .control-group.warning select, .form .control-group.warning textarea, .form .control-group.warning .control-label, .form .control-group.warning .help-block, .form .control-group.warning .help-inline, .form .control-group.warning .checkbox, .form .control-group.warning .radio {
    color: #c09853; }
  .form .control-group.warning input, .form .control-group.warning select, .form .control-group.warning textarea {
    border-color: #c09853;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form .control-group.warning input:focus, .form .control-group.warning select:focus, .form .control-group.warning textarea:focus {
    border-color: #a47e3c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e; }
  .form .control-group.info input, .form .control-group.info select, .form .control-group.info textarea, .form .control-group.info .control-label, .form .control-group.info .help-block, .form .control-group.info .help-inline, .form .control-group.info .checkbox, .form .control-group.info .radio {
    color: #3a87ad; }
  .form .control-group.info input, .form .control-group.info select, .form .control-group.info textarea {
    border-color: #3a87ad;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form .control-group.info input:focus, .form .control-group.info select:focus, .form .control-group.info textarea:focus {
    border-color: #2d6987;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3; }
  .form .control-group.warning input[type="radio"],
  .form .control-group.error input[type="radio"],
  .form .control-group.success input[type="radio"],
  .form .control-group.info input[type="radio"] {
    box-shadow: none; }
  .form input:focus:invalid,
  .form textarea:focus:invalid,
  .form select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b; }
  .form input:focus:invalid:focus,
  .form textarea:focus:invalid:focus,
  .form select:focus:invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px #d59392; }
  .form .help-block,
  .form .help-inline {
    color: #595959; }
  .form .help-block {
    display: block;
    margin-bottom: 0; }
  .form .help-inline {
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1; }
  .form .control-group {
    margin-bottom: 5px;
    *zoom: 1; }
    .form .control-group:before, .form .control-group:after {
      display: table;
      line-height: 0;
      content: ''; }
    .form .control-group:after {
      clear: both; }
  .form legend + .control-group {
    margin-top: 5px;
    -webkit-margin-top-collapse: separate; }
  .form .radio input[type="radio"] {
    float: none;
    vertical-align: baseline;
    margin-top: 0;
    margin-bottom: 0; }
  .form .radio .radio-label-text {
    vertical-align: baseline; }
  .form .button-arrow-left button,
  .form .button-arrow-right button {
    position: relative;
    box-shadow: none;
    height: 28px;
    overflow: visible; }
  .form .button-arrow-left button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 20px; }
  .form .button-arrow-right button {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 20px; }
  .form .button-arrow-left button:after,
  .form .button-arrow-right button:after {
    content: ' ';
    width: 19px;
    height: 19px;
    display: inline-block;
    position: absolute;
    top: 3px;
    background-color: #e1e1e1;
    border: 2px solid #656363;
    box-shadow: none; }
  .form .button-arrow-left button:after {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    left: -10px;
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: 5px; }
  .form .button-arrow-right button:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -10px;
    border-width: 1px 1px 0px 0px;
    border-top-right-radius: 5px; }
  .form .button-arrow-left button:hover:after,
  .form .button-arrow-right button:hover:after {
    background-color: #939191; }
  .form .box-form-divider .form-element .control-group {
    position: relative;
    padding-bottom: 7px; }
    .form .box-form-divider .form-element .control-group:after, .form .box-form-divider .form-element .control-group:before,
    .form .box-form-divider .form-element .control-group .controls:after {
      content: '';
      height: 1px;
      width: 101%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00aeef;
      transition: width .3s, left .3s; }
    .form .box-form-divider .form-element .control-group:after {
      background: #cc3333; }
    .form .box-form-divider .form-element .control-group .controls:after {
      background: #6ed50a;
      bottom: -7px; }
    .form .box-form-divider .form-element .control-group:after,
    .form .box-form-divider .form-element .control-group .controls:after {
      width: 0;
      left: 50%; }
    .form .box-form-divider .form-element .control-group .controls {
      padding-left: 62px; }
      @media only screen and (max-width: 480px) {
        .form .box-form-divider .form-element .control-group .controls {
          padding-left: 40px; } }
    .form .box-form-divider .form-element .control-group.error:after {
      z-index: 100;
      width: 100%;
      left: 0; }
    .form .box-form-divider .form-element .control-group.error .controls:after {
      z-index: 10;
      transition-delay: .5s; }
    .form .box-form-divider .form-element .control-group.success:after {
      transition-delay: .5s; }
    .form .box-form-divider .form-element .control-group.success .controls:after {
      z-index: 100;
      width: 100%;
      left: 0; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .form .form-element[class*="icon-"] .controls {
    position: relative;
    padding-left: 68px; }
    @media only screen and (max-width: 480px) {
      .form .form-element[class*="icon-"] .controls {
        padding-left: 62px; } }
    .form .form-element[class*="icon-"] .controls:before {
      content: '';
      background-image: url("../../assets/img/icon-name.png");
      background-size: 31px auto;
      background-repeat: no-repeat;
      background-position: 50% 0;
      left: 18px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 31px;
      height: 29px;
      -webkit-animation: fade .25s 1;
              animation: fade .25s 1; }
      @media only screen and (max-width: 480px) {
        .form .form-element[class*="icon-"] .controls:before {
          background-size: 24px auto;
          left: 9px;
          width: 24px;
          height: 23px; } }
  .form .form-element[class*="icon-"] .success .controls:before {
    background-position: 50% -29px; }
    @media only screen and (max-width: 480px) {
      .form .form-element[class*="icon-"] .success .controls:before {
        background-position: 50% -23px; } }
  .form .form-element[class*="icon-"] .error .controls:before {
    background-position: 50% -59px; }
    @media only screen and (max-width: 480px) {
      .form .form-element[class*="icon-"] .error .controls:before {
        background-position: 50% -46px; } }
  .form .form-element[class*="icon-"].icon-email .controls:before {
    background-image: url("../../assets/img/icon-email.png"); }
  .form .form-element[class*="icon-"].icon-message .controls:before {
    background-image: url("../../assets/img/icon-message.png"); }
  .form .form-element[class*="icon-"].icon-message textarea {
    margin-top: 10.5px;
    height: 25.9px;
    line-height: 20px; }
    @media only screen and (max-width: 480px) {
      .form .form-element[class*="icon-"].icon-message textarea {
        margin-top: 13.3px;
        height: 23.1px; } }
  .form .form-element[class*="icon-"].icon-phone .controls:before {
    background-image: url("../../assets/img/icon-phone.png"); }
  .form .form-element[class*="icon-"].icon-topic .controls:before {
    background-image: url("../../assets/img/icon-topic.png"); }
  .form .form-element[class*="icon-"].icon-banknote .controls:before {
    background-image: url("../../assets/img/icon-topic.png"); }
  .form .form-element[class*="icon-"].icon-percent .controls:before {
    background-image: url("../../assets/img/icon-topic.png"); }
  .form .form-element[class*="icon-"].icon-calendar .controls:before {
    background-image: url("../../assets/img/icon-topic.png"); }
  .form .form-element[class*="icon-"].icon-house .controls:before {
    background-image: url("../../assets/img/icon-topic.png"); }
  .form .box-form-divider {
    margin-bottom: 18.9px; }
    @media only screen and (min-width: 481px) {
      .form .box-form-divider .textField.grid_5 {
        width: 50% !important; } }
    .form .box-form-divider .textField + .textField {
      margin-left: 0 !important;
      padding-left: 0;
      position: relative; }
      @media only screen and (max-width: 480px) {
        .form .box-form-divider .textField + .textField {
          padding-top: 18.9px;
          margin: 0 !important;
          padding-left: 0; }
          .form .box-form-divider .textField + .textField .controls {
            padding-top: 14px; } }
      .form .box-form-divider .textField + .textField .controls {
        padding-left: 19.6px;
        border-left: 1px dotted #00aeef; }
        .form .box-form-divider .textField + .textField .controls:before {
          display: none; }
        @media only screen and (max-width: 480px) {
          .form .box-form-divider .textField + .textField .controls {
            border: 0;
            padding-top: 0;
            padding-left: 40px; }
            .form .box-form-divider .textField + .textField .controls:before {
              display: block; } }
      .form .box-form-divider .textField + .textField .control-label {
        padding-left: 28px; }
        @media only screen and (max-width: 480px) {
          .form .box-form-divider .textField + .textField .control-label {
            padding-left: 0; } }
  .form .button {
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .form .button {
        width: 100%; } }
  @media only screen and (max-width: 992px) {
    .form .formButton {
      display: block; } }
  .form .radioGroup .radio-label-text:checked::before, .mod-js .form .checkboxField .control-label .checkbox-label-text:checked:before, .form input[type="radio"]:checked, .form input[type="checkbox"]:checked, .mod-js .form .checkboxField .control-label.checked .checkbox-label-text:before {
    background-color: #00395c;
    background-size: 100% 100%; }
  .form .radioGroup .radio-label-text::before, .mod-js .form .checkboxField .control-label .checkbox-label-text:before, .form input[type="radio"], .form .radio input[type="radio"], .form input[type="checkbox"], .form .checkbox input[type="checkbox"] {
    margin-left: -38px;
    -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;
    border: 1px solid #00395c;
    transition: all .3s;
    width: 21px;
    height: 21px;
    background-size: 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    @media only screen and (max-width: 480px) {
      .form .radioGroup .radio-label-text::before, .mod-js .form .checkboxField .control-label .checkbox-label-text:before, .form input[type="radio"], .form .radio input[type="radio"], .form input[type="checkbox"], .form .checkbox input[type="checkbox"] {
        width: 14px;
        height: 14px; } }
    .form .radioGroup .radio-label-text:active::before, .mod-js .form .checkboxField .control-label .checkbox-label-text:active:before, .form input[type="radio"]:active, .form input[type="checkbox"]:active {
      border-color: #00aeef; }
    .form .radioGroup [disabled].radio-label-text::before, .mod-js .form .checkboxField .control-label [disabled].checkbox-label-text:before, .form input[disabled][type="radio"], .form input[disabled][type="checkbox"], .form .radioGroup [readonly].radio-label-text::before, .mod-js .form .checkboxField .control-label [readonly].checkbox-label-text:before, .form input[readonly][type="radio"], .form input[readonly][type="checkbox"] {
      background-color: transparent; }
  .form .radioGroup .radio-label-text:checked::before, .form input[type="radio"]:checked, .form .radioGroup input[type="radio"]:checked + .radio-label-text:before, .form .radioGroup .radio.checked + .radio-label-text:before {
    border-color: #000;
    background-color: transparent;
    background-size: 17px 17px; }
    @media only screen and (max-width: 480px) {
      .form .radioGroup .radio-label-text:checked::before, .form input[type="radio"]:checked, .form .radioGroup input[type="radio"]:checked + .radio-label-text:before, .form .radioGroup .radio.checked + .radio-label-text:before {
        background-size: 14px 14px; } }
  .form .radioGroup .radio-label-text::before, .form input[type="radio"], .form .radio input[type="radio"] {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-image: url("icons/radio-checked.svg");
    background-size: 0 0; }
    @media only screen and (max-width: 480px) {
      .form .radioGroup .radio-label-text::before, .form input[type="radio"], .form .radio input[type="radio"] {
        width: 18px;
        height: 18px; } }
  .form input[type="radio"],
  .form input[type="checkbox"] {
    margin: -5px 0 0;
    margin-top: -2px \9;
    *margin-top: 0;
    line-height: normal; }
  .form .checkboxField label,
  .form .radioField label {
    padding: 0;
    float: none; }
    @media only screen and (max-width: 480px) {
      .form .checkboxField label,
      .form .radioField label {
        font-size: 9.8px; } }
  .no-js .form .checkboxField .control-label {
    float: right;
    width: calc(100% - 30px);
    padding: 0;
    margin: 0;
    clear: none;
    padding-bottom: 10px; }
  .no-js .form .checkboxField .controls {
    float: left;
    width: 30px;
    padding: 0;
    clear: none; }
  .mod-js .form .checkboxField input[type="checkbox"] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1; }
    .mod-js .form .checkboxField input[type="checkbox"]:focus + .checkbox-label-text:before {
      border-color: #00aeef;
      color: #00aeef; }
  .mod-js .form .checkboxField .checkbox-label-text {
    position: relative;
    z-index: 100;
    padding-left: 44px; }
    @media only screen and (max-width: 480px) {
      .mod-js .form .checkboxField .checkbox-label-text {
        padding-left: 36px; } }
  .mod-js .form .checkboxField .control-label {
    width: auto;
    float: none;
    position: relative;
    padding-left: 0;
    padding-bottom: 10px; }
    .mod-js .form .checkboxField .control-label .checkbox-label-text:before {
      content: '';
      margin: 0;
      position: absolute;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 480px) {
        .mod-js .form .checkboxField .control-label .checkbox-label-text:before {
          left: 4px; } }
  .form .radioGroup {
    position: relative; }
    .form .radioGroup .control-label {
      padding-left: 0;
      padding-bottom: 5px; }
    .form .radioGroup input[type="radio"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0; }
      .form .radioGroup input[type="radio"]:focus + .radio-label-text:before {
        border-color: #00aeef;
        color: #00aeef; }
    .form .radioGroup .radio-label-text {
      padding: 0 0 7px 43px;
      width: auto;
      float: none;
      position: relative;
      display: block; }
      @media only screen and (max-width: 480px) {
        .form .radioGroup .radio-label-text {
          font-size: 9.8px;
          padding-left: 37px; } }
      .form .radioGroup .radio-label-text::before {
        content: '';
        margin: 0;
        position: absolute;
        top: 0;
        left: 0; }
    .form .radioGroup .radio {
      margin: 10px 0;
      padding-left: 0; }
  .form .radio,
  .form .checkbox {
    min-height: 20px;
    padding-left: 40px; }
  .form input[type="checkbox"],
  .form .checkbox input[type="checkbox"] {
    margin-left: 0; }
  .form .textField-calculate .control-group .controls {
    padding-left: 0; }
    .form .textField-calculate .control-group .controls:before {
      left: 18px; }
      @media only screen and (max-width: 480px) {
        .form .textField-calculate .control-group .controls:before {
          background-size: 24px auto;
          left: 9px; } }

.form > .component-content,
.form-element > .component-content {
  overflow: hidden; }

/* FORM HORIZONTAL STYLES
   ------------------------------------*/
.form-horizontal .radio {
  display: inline-block;
  margin-right: 10px; }

/* MEDIA QUERIES
    ------------------------------------*/
@media only screen and (max-width: 480px) {
  .form .radio input[type="radio"] {
    height: 14px; }
  .form .control-group {
    margin-bottom: 5px; }
  .form .checkboxField .control-label {
    float: left; }
  .form .control-label {
    float: none;
    padding-top: 5px;
    text-align: left; }
  .form .controls {
    margin-left: 0; }
  .form .help-block {
    margin-bottom: 10px; } }

@media only screen and (max-width: 320px) {
  .form input,
  .form textarea,
  .form .uneditable-input {
    width: 200px; }
  .form select {
    width: 200px; } }

input:focus {
  outline: 0; }

.form-group label {
    color: #0078a5 !important;
}
.is-required > label::after {
    color: inherit;
    padding-left: 0;
    font-size: inherit;
    position: static;
    right: 0;
}
.is-required > input[type="radio"] + label::after {
    content: none;
    display: none;
}

.form input[type="radio"],
.form input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    border: 0 !important;
    padding: 0;
    margin: 0;
    display: none;
    position: static;
}
.form input[type="radio"] + label,
.form input[type="checkbox"] + label {
    cursor: pointer;
}
.form input[type="radio"] + label::before,
.form input[type="checkbox"] + label::before {
    vertical-align: middle;
    content: '';
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.form input[type="radio"] + label::before {
    background-image: url(icons/radio-unchecked.svg);
}
.form input[type="radio"]:checked + label::before {
    background-image: url(icons/radio-checked.svg);
}
.form input[type="checkbox"] + label::before {
    background-image: url(icons/checkbox-unchecked.svg);
}
.form input[type="checkbox"]:checked + label::before {
    background-image: url(icons/checkbox-checked.svg);
}

.form-group {
    padding: 0.5em 1em;
}


.consent-list-2 {
    color: #00395c;
}
.consent-list-2 {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}
.consent-list-2 > li {
    margin: 0;
    padding: 0 0 0 1em;
    text-indent: -1em;
    list-style-type: none;
    counter-increment: item;
}
.consent-list-2 > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}