﻿
/* --- material floating label --- */

.form-group {
    display: flex;
    height: 55px;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}
a.btnPDF
{
    background: url(../Content/Images/PDF.png) no-repeat top left;
     display: block;
     width: 100px;
     height: 100px;
     text-indent: -9999px; /* hides the link text */
  
  
}

.blue-ribbon
{
    width: 100%;
    background-color: #00AEEF;
    height: 80px;
}


.front-main-c1
{
    color:#00AEEF;
}

.front-main-c2
{
    color:#1081B1;
}

.front-main-c3
{
    color:#0074A6;
}

.front-main-c4
{
    color:#00365D;
}

.front-sub-c1
{
    color:#F5F5F5 !important;
}

.front-sub-c2
{
    color:#D0D0D0 !important;
}


.front-sub-c3
{
    color:#919191 !important;
}


.front-sub-c4
{
    color:#666 !important;
}


.inline-block
{
    display:inline-block;
}

.darkblue-ribbon
{
    width: 100%;
    background-color: #00365D;
    position: relative;
}

.robo-background
{
    background-position: left center;
    background-image: url(Images/robot_advisor_redraw.png);
    background-size: 50px;
    background-repeat: no-repeat;
    padding-left: 65px;
    padding-top: 15px;
    padding-bottom: 16px;
}

.consent-list
{
    padding-left: 0;
    list-style-position: inside;
    counter-reset: item;
}

.consent-list > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

.consent-list > li:before {
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.is-required > label {
    position: relative;
}

.is-required > label:after {
    content: '*';
    color: red;
    padding-left: 5px;
    font-size: 20px;
    top: 0px;
    position: absolute;
    right: -20px;
}

#divLoading{
  position:absolute;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url('Images/loader_transparent.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.accordion-head{
    white-space: normal !important;
}

.doc_link{
    color: red;
}
