﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Absa Virtual Investor </title>
    <!-- Spacing classes to control padding and margins     -->
    
    <script src="~/designBundles/modernizr.js"></script>
    <script src="~/Scripts/jquery3.1.0.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.0.min.js"></script>
    <!--<base href="/robo/" />-->
    <!-- 
    <script src="~/bundles/jquery.js"></script>
    -->  
    <link href="~/Content/css.css" rel="stylesheet" />
    
        <!-- Material Design fonts -->
    @*<link rel="stylesheet" href="~/Content/Robotto_fonts.css">
    <link rel="stylesheet" href="~/Content/material_icons.css">*@
    <link rel="stylesheet" href="~/Content/spacing-classes.css">
    <!-- Correct syles -->
    <link rel="stylesheet" href="~/Content/correct.css">
    <link rel="stylesheet" href="~/Content/jquery-ui-1.9.2.custom.min.css">
    
</head>
@RenderBody()
        
    

</html>
