﻿@model Robo.Models.DetailsViewModel

@{
    ViewBag.Title = "Submit";
}

&nbsp;
<div class="detail-box">
    <h4>@Model.ProcessHeader</h4>
</div>
&nbsp;
<div class="progress">
    <div class="progress-bar-success" role="progressbar" aria-valuenow=@Model.ProcessComplete
         aria-valuemin="0" aria-valuemax="100" style="width:@Model.ProcessPercentage">
        @Model.ProcessPercentage
    </div>
</div>

<div class="detail-box">
    <h5>@Model.
    </h5>
</div>

<table class="detail-table">
    <tr>
        <td>
            <div class="detail-box">
                &nbsp;
            </div>
        </td>
        <td>
            <div class="detail-box">
                &nbsp;
            </div>
    </tr>

</table>
 &nbsp;
<footer>
  
</footer>
